<a href="https://colab.research.google.com/github/guilhermefmk/pandas-analytics/blob/main/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Dados aula 1.csv", encoding="UTF-8", sep=";",header=0)

In [ ]:
df = pd.read_csv("Dados aula 1.csv", encoding="UTF-8", sep=";",usecols = ["SpatialLocation", "City"])

In [ ]:
df = pd.read_csv("Dados aula 1.csv", encoding="UTF-8", sep=";",usecols = ["SpatialLocation", "City"], nrows=200)

In [ ]:
df.head()

      City                                 SpatialLocation
0  Bothell  0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0
1  Bothell  0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0
2  Bothell  0xE6100000010C18E304C4ADE14740DA930C7893915EC0
3  Bothell  0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0
4  Bothell  0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0

In [ ]:
df.shape

(200, 2)